{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["wesbos/typescript"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".ts", ".tsx", "js", "jsx"]
      }
    }
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "no-unused-expressions": 0
  },
  "overrides": [
    {
      "files": ["*.jsx", "*.tsx", "*.js", "*.ts"],
      "rules": {
        "no-trailing-spaces": "error",
        "prettier/prettier": [
          "error",
          {
            "singleQuote": true,
            "trailingComma": "all",
            "useTabs": false,
            "tabWidth": 2,
            "endOfLine": "lf"
          }
        ],
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-unsafe-assignment": 0,
        "@typescript-eslint/no-unsafe-return": 0,
        "@typescript-eslint/no-unsafe-call": 0,
        "@typescript-eslint/no-unused-expressions": 0
      }
    }
  ]
}
